In [61]:
import pandas as pd
import numpy as np

In [62]:
Bitcoin_Cash = "~/Desktop/Project/Bitcoin_Cash.csv"
Bitcoin = "~/Desktop/Project/Bitcoin.csv"
Crypto = "~/Desktop/Project/Crypto.csv"
EOS = "~/Desktop/Project/EOS.csv"
ETH = "~/Desktop/Project/ETH.csv"
Ripple = "~/Desktop/Project/Ripple.csv"

In [63]:
Bitcoin_Cash_df = pd.read_csv(Bitcoin_Cash)
Bitcoin_df = pd.read_csv(Bitcoin)
Crypto_df = pd.read_csv(Crypto)
EOS_df = pd.read_csv(EOS)
ETH_df = pd.read_csv(ETH)
Ripple_df = pd.read_csv(Ripple)

In [64]:
combined_crypto_df = pd.merge(Bitcoin_Cash_df, Bitcoin_df, how='left', on='Date')
combined_crypto2_df = pd.merge(Crypto_df, EOS_df, how='left', on='Date')
combined_crypto3_df = pd.merge(ETH_df, Ripple_df, how='left', on='Date')

In [65]:
combined_crypto4_df = pd.merge(combined_crypto_df, combined_crypto2_df, how='left', on='Date')

In [66]:
total_combined_crypto_df = pd.merge(combined_crypto4_df, combined_crypto3_df, how='left', on='Date')

In [60]:
total_combined_crypto_df.head()

,Date,Search: BITCOIN CASH Story Count,Search: TOPIC:BITCOIN Story Count,Search: CRYPTO Story Count,Search: EOS Story Count,Search: ETH Story Count,Search: RIPPLE Story Count
0,11/1/18,0,21.0,64,1.0,6.0,4.0
1,10/31/18,0,15.0,42,1.0,3.0,3.0
2,10/30/18,4,15.0,53,1.0,6.0,4.0
3,10/29/18,0,15.0,23,1.0,4.0,4.0
4,10/28/18,0,NaN,3,NaN,NaN,NaN